.body-intro-background {
    overflow: hidden;
    background: #0b56b3;
}

.body-intro-section {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.body-intro-content {
    color: rgba(255, 255, 255, 0.87);
}

.body-content-row {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.body-content-column {
    padding: 20px;
}

.fixed-size-img {
    width: 347px;
    height: 350px;
}