<header class="body-intro-background">
  <div class="body-intro-section">
    <div class="body-intro-content">
      <h1 class="my-website-h1">Daniel Cushing</h1>
    </div>
  </div>
</header>
<div class="body-content">
  <div fxLayout="row" fxLayoutAlign="end center" class="body-content-row">
    <div fxFlex="50">
        <img src="../../assets/images/microservices.png" alt="microservices" class="fixed-size-img">
    </div>
    <div fxFlex="50" fxLayoutAlign="start center" class="body-content-column">
      <p>
        I am a high performing, passionate, and outgoing software engineer 
        with experience working on cutting edge technologies. I excel at 
        test driven development, writing high quality code, and 
        collaborating effectively in a team environment. My most exciting 
        work has been with REST and RPC microservices, but I have experience 
        with web frameworks, databases, and writing code in legacy systems.
      </p>
    </div>
  </div>
</div>