<header class="body-intro-background">
  <div class="body-intro-section">
    <div class="body-intro-content">
      <h1 class="my-website-h1">Daniel Cushing</h1>
    </div>
  </div>
</header>
<div class="body-content">
  <div fxLayout="row" class="body-content-row">
    <div fxFlex fxLayoutAlign="center center" class="body-content-column">
      <img class="fixed-size-img" src="../../assets/images/cityscape.png" alt="Skyline Cartoon">
    </div>
    <div fxFlex fxLayoutAlign="center center" class="body-content-column">
      <p>
        Hi I am a software developer from Salt Lake City, Utah. This website is a 
        portfollio of some of my work. 
      </p>
    </div>
  </div>
</div>